$main-color: #1f6170;
$secondary-color: #f7f7f1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica neue";
}

html {
    height: 100%;
    background-color: $secondary-color;
}

body {
    height: 100%;
}

h1 {
    display: none;
}

#main {
    height: 100%;
    overflow: hidden;
}

.img-container {
    display: block;
    height: 50vh;
    overflow: hidden;
    position: relative;
    &:hover .img {
        scale: 1.05;
    }
}

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $secondary-color;
    font-size: 2rem;
    text-shadow: 5px 5px 15px black;
}

.img {
    width: 100%;
    height: 100%;
    margin: auto;
    transition: scale ease-out 0.3s;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#img-reinigung {
    background-image: url(./assets/josue-michel-FhsFUo-Wfc0-unsplash.webp);
    background-color: #183059;
}

#img-garten {
    background-image: url(./assets/crystal-jo-PKcTuA_CRAo-unsplash.webp);
    background-color: #272f1c;
}

footer {
    clear: both;
    text-align: center;
    padding: 1rem;
    background-color: $secondary-color;
}

#imprint-link {
    margin: 1rem;
    color: $main-color;
}

@media screen and (min-width: 1024px) {
    .img-container {
        width: 50%;
        float: left;
        height: 100%;
        overflow: hidden;
        background-color: $main-color;
        position: relative;
        cursor: pointer;
    }

    .img {
        height: 100%;
        width: auto;
    }

    h2 {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        color: $secondary-color;
        font-size: 3rem;
        text-shadow: 10px 10px 20px #000;
        font-family: "Roboto" Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        transition: opacity ease-out 0.3s;
    }
}
